html,body,#app{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    overflow:hidden
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}